.venv
input
output
dist
.vscode
build
test_data
.cursor
__pycache__
db
temp
htmlcov
.mypy_cache
.pytest_cache
.coverage
.coverage.*
.coverage.xml
.coverage.json
.coverage.yaml
.coverage.yml
.coverage.json